# Exemplo de arquivo de variáveis de ambiente para o Terraform
# NUNCA commite o arquivo real 'terraform.tfvars' com credenciais reais!

project_name = "technova"
db_name      = "reservas_db"
db_username  = "dbuser"
db_password  = "MudeEstaSenhaSegura123!"
key_name     = null # Altere para o nome do seu Key Pair na AWS caso queira acesso SSH na EC2
